'fileTypes': [
  'mdbg'
]
'name': 'mdbg'
'patterns': [
  {
    'name': 'string.regexp.ruby'
    'match': '(\\$(?! )[^\\$]*\\$)'
  },
  {
    'name': 'markup.quote'
    'match': '((?:^|(?<=\n))(?:> .*\n?)+)'
  },
  {
    'name': 'emphasis.italic.markup.mdbg'
    'match': '(%(?! )[^%]*%)'
  },
  {
    'name': 'strong.emphasis.bold.markup.mdbg'
    'match': '(\\*(?! )[^\\*]*\\*)'
  },
  {
    'name': 'emphasis.underline.markup.mdbg'
    'match': '(_(?! )[^_]*_)'
  },
  {
    'name': 'strike.markup.mdbg'
    'match': '(~(?! )[^~]*~)'
  },
  {
    "name": "punctuation.definition.heading"
    "match": "^[#]+.*$"
  },
  {
    "name": "markup.list"
    "match": "((?:(?:^|(?<=\n))(?:    |\t)*- (?:.|\n(?!\n))*)+)"
  },
  {
    "name": "punctuation.terminator"
    "match": "/$"
  }
]
'scopeName': 'source.mdbg'
