'fileTypes': [
  'mdbg'
]
'name': 'mdbg'
'patterns': [
  {
    'name': 'string.regexp.ruby'
    'match': '(\\$(?! )[^\\$]*\\$)'
  },
  {
    'name': 'string.regexp.ruby'
    'begin': '\\\\\\['
    'end': '\\\\\\]'
  },
  {
    'name': 'markup.quote'
    'match': '((?:^|(?<=\n))(?:> .*\n?)+)'
  },
  {
    'name': 'emphasis.italic.markup'
    'match': '(%(?! )[^%]*%)'
  },
  {
    'name': 'strong.emphasis.bold.markup'
    'match': '(\\*(?! )[^\\*]*\\*)'
  },
  {
    'name': 'emphasis.underline.markup'
    'match': '(_(?! )[^_]*_)'
  },
  {
    'name': 'strike.markup'
    'match': '(~(?! )[^~]*~)'
  },
  {
    "name": "punctuation.definition.heading"
    "match": "^[#]+.*$"
  },
  {
    "name": "markup.list"
    "match": "((?:(?:^|(?<=\n))(?:    |\t)*- (?:.|\n(?!\n))*)+)"
  },
  {
    "name": "punctuation.terminator"
    "match": "/$"
  },
  {
    "name": "keyword.control.elements"
    "match": "^!!.*$"
  },
  {
    "name": "comment"
    "begin": "<!--"
    "end": "-->"
  },
  {
    "name": "support.class"
    "begin": "```"
    "end": "```"
  },
  {
    "name": "string"
    "begin": "`"
    "end": "`"
  }
]
'scopeName': 'source.mdbg'
